body {
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}
h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  margin-top: 10px;
}
.basicHeader {
  background-color: #102943;
  height: 52px;
  margin: 0px;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
.forcast {
  position: absolute;
  margin: 7px 65px;
  font-size: 23px;
}
.search-form {
  max-width: 400px;
  margin: 7px 24px 5px auto;
  text-align: left;
}
.searchIcon {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  top: -34px;
  margin-left: 10px;
}
.locationIcon {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  top: -34px;
  margin-left: 10px;
}
.searchElements {
  padding-left: 2px;
  padding-right: 2px;
}
.col-2 {
  width: 43px;
}
.resultBox {
  background-color: #102943;
  border: 1px solid #dadde1;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
  margin: 70px auto;
  margin-bottom: 5px;
  text-align: center;
}
.degree {
  margin: 0px 50px;
}
.icon-degree {
  font-size: 70px;
  font-weight: lighter;
  padding: 0px;
  text-align: right;
}
.col-1 {
  padding: 26px 0 0 0;
}
.units {
  font-size: 30px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  padding: 0px;
}

.description {
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
}
.dateTime {
  font-size: 18px;
  font-weight: 600;
}
.detailes {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0px;
  font-size: 18px;
}
.element {
  display: inline;
  margin: 0 20px;
}
.coder {
  max-width: 600px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
  text-align: left;
  font-size: 14px;
}
.coderLink {
  text-decoration: none;
}
.units .active {
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
.units .notActive {
  cursor: default;
  text-decoration: none;
}
.Daily {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}
.weatherForcast {
  background-color: #153558;
  border: 1px solid #dadde1;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.weatherForcastDate {
  font-size: 14px;
}
.max {
  font-size: 24px;
}
.min {
  font-size: 16px;
}
